
<GridLayout rows="*,auto,*" class="page">
    <GridLayout row="1" rows="*,auto,auto,auto,auto" class="m-x-auto"
        style="height:50%;width:30%;padding:20;background-color:#7cc576;">
        <Label text="Service Orders" class="h1 text-center text-uppercase" textWrap="true" 
            style="vertical-align:middle;font-weight:100;font-size:48;color:#333;width:60%;"></Label>
        <StackLayout row="1" class="form">
            <StackLayout class="input-field">
                <Label text="Email" class="label font-weight-bold m-b-5" style="color:#333;"></Label>
                <TextField id="txtUsername" class="input" keyboardType="email" returnKeyType="next"
                    (returnPress)="focusPass($event)" [(ngModel)]="strUsername"
                    autocorrect="false" autocapitalizationType="none"></TextField>
                <StackLayout class="hr-dark"></StackLayout>
            </StackLayout>
        </StackLayout>
        <StackLayout row="2" class="form">
            <StackLayout class="input-field">
                <Label text="Password" class="label font-weight-bold m-b-5" style="color:#333;"></Label>
                <TextField id="txtPassword" class="input" secure="true" [(ngModel)]="strPassword"
                    autocorrect="false" autocapitalizationType="none"
                    returnKeyType="go" (returnPress)="onLogin($event)"></TextField>
                <StackLayout class="hr-dark"></StackLayout>
            </StackLayout>
        </StackLayout>
        <ActivityIndicator row="3" [busy]="isLoggingIn" class="activity-indicator" style="height:60;color:#000;"></ActivityIndicator>
        <Button row="3" text="Log in" (tap)="onLogin($event)" [visibility]="!isLoggingIn ? 'visible' : 'collapsed'"
            class="btn btn-primary btn-rounded-lg" style="color:#333;font-weight:600;border-width:1;border-color:blue;"></Button>
        <Button row="4" text="BioAuth" (tap)="onBioLogin($event)" [visibility]="isBioAuthAvailable ? 'visible' : 'collapsed'"></Button>
    </GridLayout>
    <StackLayout row="2" [visibility]="isGeneratingData ? 'visible' : 'collapsed'" class="text-center" style="margin-top:50;">
        <ActivityIndicator [busy]="isGeneratingData" class="activity-indicator"></ActivityIndicator>
        <Label text="Generating demo data..." textWrap="true" class="body m-t-5"></Label>
    </StackLayout>
    <Button row="2" text="Generate Demo Data" (tap)="onGenerateData($event)" [visibility]="!isGeneratingData ? 'visible' : 'collapsed'"></Button>
</GridLayout>